@import url(fonts.css);
@import url(reset.css);

/*+ Base */
body {
    font-family: 'Proxima Nova';
    font-size: 16px;
    color: #535353;
    background-color: #f8f8f8;
    padding: 30px 0 70px;
}

[class*='__container'] {
    width: min(1290px, 100% - 30px);
    margin-inline: auto;
}

a:hover {
    color: #ffbc57;
}

.btn {
    background-color: #ffbc57;
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    line-height: 1.26;
    border-radius: 8px;
}

/*+ Order */
.order__title {
    color: #2b2929;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 40px;
}

.order__content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.order__checkout {
    width: 100%;
    max-width: 740px;
    padding: 30px;
}
.order__items {
    width: 100%;
    max-width: 520px;
    background-color: yellowgreen;
}

.checkout-info__title {
    color: #2b2929;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.3;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.checkout-info__title::before {
    content: '';
    width: 60px;
    height: 60px;
    background-image: url(../img/icon-info.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.checkout-info__box {
}

.box-info {
    display: flex;
    margin-bottom: 20px;
}

.box-info__customer {
}
.customer-field {
    display: flex;
    flex-direction: column;
}
.customer-field__item {
}
.customer-field__item--surname {
}

.customer-field__input,
.contact-field__input {
    line-height: 1.87;
    height: 50px;
    padding-inline: 20px;
}

.customer-field__item--name {
}
.customer-field__item--father-name {
}
.box-info__contact {
}
.contact-field {
    display: flex;
    flex-direction: column;
}
.contact-field__item {
}
.contact-field__item--phone {
}

.contact-field__item--email {
}

.box-recipient {
    line-height: 1.87;
    height: 30px;
    padding-inline: 20px;
}

.box-recipient__input {
    margin-right: 10px;
}
